@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @{
            @ViewBag.Title

    }
</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
@RenderSection("Scripts", false)
</head>
<body style="background-color:#808080">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:solid 1px black;color:black;background-color:azure;padding-bottom:20px">
            <div style="text-align:center">
                <img src="/Images/logo.png" alt="Logo" style="width:250px;height:200px"/>
            </div>
            <h1 style="text-align:center">Traffic Challan Automation System</h1>
            <ul class="nav nav-tabs nav-justified">
                <li id="litem1"><a href="#challan" data-toggle="tab" style="border:solid 1px red;" id="link1">Challan Panel</a></li>
                <li id="litem2"><a href="#warden" data-toggle="tab" style="border:solid 1px red" id="link2">Warden Paenl</a></li>
            </ul>
            <div class="tab-content">
                <div id="challan" class="tab-pane fade">
                    <div class="row" style="box-sizing:border-box;padding:10px">
                        <a href="http://localhost:23187/Challan/PayChallan">
                            <div class="col-lg-5 col-lg-offset-1 animate-left box-shadow" id="pay-challan" style="cursor:pointer; margin-right:10px;margin-bottom:5px;margin-top:5px; height: 150px; background-color: black; color: white; text-align: center; border: solid 1px black; padding-top: 25px; ">
                                <h1>Pay Challan</h1>
                            </div>
                        </a>
                        <a href="http://localhost:23187/Challan/CheckStatus">
                            <div class="col-lg-5 animate-right box-shadow" id="check=challan-status" style="cursor: pointer; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; height: 150px; background-color: blue; color: white; text-align: center; border: solid 1px blue; padding-top: 25px">
                                <h1>Check Challan Status</h1>
                            </div>
                        </a>
                    </div>
                    <div class="row" style="box-sizing:border-box;padding:10px">
                        <a href="http://localhost:23187/Challan/Complain">
                            <div class="col-lg-5 col-lg-offset-1 animate-left box-shadow" id="report-complain" style="cursor: pointer; margin-right: 10px; margin-bottom: 5px; margin-top: 5px; height: 150px; background-color: red; color: white; text-align: center; border: solid 1px black; padding-top: 25px; ">
                                <h1>Report Complain</h1>
                            </div>
                        </a>
                        <a href="http://localhost:23187/Challan/Feedback">
                            <div class="col-lg-5 animate-right box-shadow" id="give-feedback" style="cursor: pointer; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; height: 150px; background-color: orange; color: white; text-align: center; border: solid 1px blue; padding-top: 25px">
                                <h1>Give Feedback</h1>
                            </div>
                        </a>
                    </div>
                    @*<div style="display:flex;flex-direction:row;justify-content:center;margin:20px" id="c-content">
                            <div style="width:400px;height:150px;background-color:black;color:white;text-align:center;margin-right: 10px" class="animate-left">
                                <h1>Pay Challan</h1>
                            </div>
                            <div style="width:400px;height:150px;background-color:blue;color:white;text-align:center;margin-left: 10px;" class="animate-right">
                                <h1>Check Challan Status</h1>
                            </div>
                        </div>*@
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/javascript.js"></script>
    <script>

        $("#litem1").click(function () {
            alert("Clicked");
            location.href = "http://localhost:23187/Home/Index";
        });
        $("#litem2").click(function () {
            alert("Clicked");
            location.href = "http://localhost:23187/Home/Index";
        });
        /*$(document).ready(function () {
            $("#litem2").addClass("active");
            $("#link2").css("background-color", "black");
            $("#link2").css("color", "white");
            $("#link2").css("transition", "background-color 2s ease-out");
        });/*

        $("#litem1").click(function () {
            $("#warden").removeClass("active");
            $("#warden").removeClass("in");

            $("#challan").addClass("in");
            $("#challan").addClass("active");

            $("#litem2").removeClass("active");
            $("#link1").css("background-color", "black");
            $("#link1").css("color", "white");
            $("#link1").css("transition", "background-color 2s ease-out");
            $("#link2").css("background-color", "white");
            $("#link2").css("color", "black");
            $("#link2").css("transition", "background-color 2s ease-out");

            $("#litem1").addClass("active");
            $("#link1").css("background-color", "black");
            $("#link1").css("color", "white");

        });

        $("#litem2").click(function () {
            $("#challan").removeClass("in");
            $("#challan").removeClass("active");

            $("#warden").addClass("in");
            $("#warden").addClass("active");

            $("#litem1").removeClass("active");
            $("#link1").css("background-color", "white");
            $("#link1").css("color", "black");
            $("#link1").css("transition", "background-color 2s ease-out");

            $("#litem2").addClass("active");
            $("#link2").css("background-color", "black");
            $("#link2").css("color", "white");
            $("#link2").css("transition", "background-color 2s ease-out");
        });
        function setEmail() {
            var uname = $("#uname").val();
            $("#e").text(uname);
            $("#btn-div").css("float", "right");
            $("#nextBtn").removeClass("btn-block");
        }
    </script>

</body>
</html>
